<section data-ng-controller="ControlPanelController" data-ng-init="init()">
	<div class="text-center well" data-ng-controller="ControlPanelInfoController" data-ng-init="loadInfo()">
		<div data-ng-hide="loading">			
			<h2>{{info.name}}</h2>
		</div>
		<div data-ng-show="loading" data-loader></div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<div class="well">				
				<div data-ng-include="'/modules/projects/views/control-panel/control-panel-sidebar.client.view.html'"></div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well">
				<div data-ui-view>					
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="well">
				Chat
			</div>
		</div>
	</div>
</section>