<section data-ng-controller="ControlPanelInfoController" data-ng-init="loadInfo()">
	<div data-ng-show="errorMessage" class="alert alert-danger">
		{{errorMessage}}
	</div><div data-ng-show="successMessage" class="alert alert-success">
		{{successMessage}}
	</div>
	<div data-ng-hide="loading">
		<div class="form-group">
            <div class="controls">
                <input type="text" data-ng-model="info.name" id="name" class="form-control" placeholder="Име" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Описание</label>
            <div class="controls">
                <textarea type="text" data-ng-model="info.description" id="description" class="form-control" placeholder="Описание" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <select class="form-control" data-ng-model="info.public">
                    <option value="true">Публичен</option>
                    <option value="false">Частен</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label>Type</label>
                <select class="form-control" data-ng-model="info.type">
                    <option selected="selected" value="web">Web</option>
                    <option value="mobile">Mobile</option>
                    <option value="desktop">Desktop</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" data-ng-click="save()">Save</button>
        </div>
	</div>
	<div data-ng-show="loading" data-loader></div>
</section>