<ul class="nav nav-pills nav-stacked">
	<li data-ng-class="{active: active === 'info'}">
		<a href="{{mainPath + '/info'}}">Info</a>
	</li>
	<li data-ng-class="{active: active === 'avatar'}">
		<a href="{{mainPath + '/avatar'}}">Avatar</a>
	</li>
	<li data-ng-class="{active: active === 'members'}">
		<a href="{{mainPath + '/members'}}">Members</a>
	</li>
	<li data-ng-class="{active: active === 'candidates'}">
		<a href="{{mainPath + '/candidates'}}">Candidates</a>
	</li>
	<li data-ng-class="{active: active === 'invitations'}">
		<a href="{{mainPath + '/invitations'}}">Invitations</a>
	</li>
	<li data-ng-class="{active: active === 'positions'}">
		<a href="{{mainPath + '/positions'}}">Positions</a>
	</li>
	<li data-ng-class="{active: active === 'resources'}">
		<a href="{{mainPath + '/resources'}}">Resources</a>
	</li>
</ul>