<section data-ng-controller="HomeController">
<div class="row">
	<div class="col-sm-8">
		<div class="jumbotron">
			<div class="row" data-ng-hide="loadingAlerts">
				<div class="col-xs-12 text-center">
					<h1>RayIdea</h1>
				</div>
				<div class="col-sm-6" data-ng-repeat="alert in alerts | orderBy:'order'">
					<div class="row">
						<div class="col-xs-4">
							<h1 class="pull-right">
								<button type="button" class="btn" data-ng-class="alert.color">
									<i data-ng-class="alert.icon"></i>
								</button>
							</h1>
						</div>
						<div class="col-xs-8">
							<h1>
								{{alert.value}}
							</h1>
						</div>
					</div>
					<div class="row">					
						<div class="col-xs-offset-4 col-xs-8">
							{{alert.description}}
						</div>
					</div>
				</div>
			</div>
			<div data-ng-show="loadingAlerts" loader></div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="well">
			<h2>Последни проекти</h2>
			<ul class="list-unstyled" data-ng-hide="loadingLastProjects">
				<li data-ng-repeat="project in lastProjects">
					<h3><a href="/#!/projects/{{project.urlName}}">{{project.name}}</a></h3>
				</li>
			</ul>
			<div data-ng-show="loadingLastProjects" loader></div>
		</div>
	</div>
</div>
	
</section>
