<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-6" data-ng-repeat="alert in alerts">
				<div class="row">
					<div class="col-xs-4">
						<h1 class="pull-right">
							<button type="button" class="btn" data-ng-class="alert.color">
								<i data-ng-class="alert.icon"></i>
							</button>
						</h1>
					</div>
					<div class="col-xs-8">
						<h1>
							{{alert.value}}
						</h1>
					</div>
				</div>
				<div class="text-center">
					{{alert.description}}
				</div>
			</div>
		</div>
	</div>
</section>
