<section data-ng-controller="SearchController">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<div class="well">
				<div class="row">
					<div class="col-sm-6">
						<h2 class="bottom-border">Потребители</h3>
						<ul data-ng-hide="loadingUsers" class="list-unstyled">
							<li data-ng-repeat="user in users.data">
								<a href="/#!/user/{{user.username}}"><span class="h3">{{user.displayName}}</span></a>
							</li>
						</ul>
						<ul data-ng-hide="loadingUsers" class="pager">
							<li data-ng-hide="users.page === 1" ><a href="javascript:;"data-ng-click="changeUsersPage(users.page-1)">&larr;Предишна</a></li>
							<li data-ng-hide="users.page === users.pageCount"><a href="javascript:;" data-ng-click="changeUsersPage(users.page+1)">Следваща&rarr;</a></li>
						</ul>
						<div data-ng-show="loadingUsers" loader>							
						</div>
					</div>
					<div class="col-sm-6">
						<h2 class="bottom-border">Проекти</h3>
						<ul data-ng-hide="loadingProjects" class="list-unstyled">
							<li data-ng-repeat="project in projects.data">
								<a href="/#!/projects/{{project.urlName}}"><span class="h3">{{project.name}}</span></a>(<a href="/#!/user/{{project.user.username}}">{{project.user.displayName}}</a>)								
							</li>
						</ul>
						<ul data-ng-hide="loadingUsers" class="pager">
							<li data-ng-hide="projects.page"><a href="javascript:;" data-ng-click="changeProjectsPage(projects.page-1)">&larr;Предишна</a></li>
							<li data-ng-hide="projects.page === projects.pageCount" ><a href="javascript:;" data-ng-click="changeProjectsPage(projects.page+1)">Следваща&rarr;</a></li>
						</ul>
						<div data-ng-show="loadingProjects" loader>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>