<section class="row" data-ng-controller="AuthenticationController">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<div class="well">
				<div class="row">
					<h3 class="col-md-12 text-center">Влез</h3>
					<div class="col-sm-8 col-sm-offset-2">
						<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off" novalidate>
							<fieldset>							
								<div data-ng-show="error" class="alert alert-danger">
									<strong data-ng-bind="error"></strong>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
										<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Потребителско име">
									</div>									
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-asterisk"></i>
										</span>
										<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Парола">
									</div>									
								</div>
								<div class="text-center form-group">
									<button type="submit" class="btn btn-primary btn-block">Влез</button>
								</div>
								<div class="forgot-password text-center form-group"> 				
									<a href="/#!/signup">Регистрирай се</a>
								</div>
							</fieldset>
						</form>
					</div>				
				</div>
			</div>
		</div>
	</div>	
</section>