<section class="row" data-ng-controller="AuthenticationController">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<div class="well">
				<div class="row">
					<h3 class="col-md-12 text-center">Регистрирай се</h3>
					<div class="col-sm-8 col-sm-offset-2">
						<form data-ng-submit="signup()" class="signin form-horizontal" autocomplete="off" novalidate>
							<fieldset>							
								<div data-ng-show="error" class=" alert alert-danger">
									<strong data-ng-bind="error"></strong>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-star"></i>
										</span>
										<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Име">
									</div>									
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-star"></i>
										</span>
										<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Фамилия">
									</div>								
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-envelope"></i>
										</span>
										<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
										<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Потребителско име">
									</div>									
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-asterisk"></i>
										</span>										
										<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Парола">
									</div>
								</div>
								<div class="text-center form-group">
									<button type="submit" class="btn btn-primary btn-block">Регистрирай се</button>
								</div>
								<div class="forgot-password text-center form-group">						
									<a href="/#!/signin">Влез</a>
								</div>
							</fieldset>
						</form>
					</div>				
				</div>
			</div>
		</div>
	</div>
</section>