<div class="row">
	<div class="col-sm-4">
		<img width="150" height="150" class="img-circle" data-ng-src="{{project.avatar.url}}" />
	</div>
	<div class="col-sm-8">
		<h2>{{project.name}} (<span data-ng-show="project.type === 'private'">частен</span><span data-ng-show="project.type === 'public'">публичен</span>)</h2>
        <button type="button" class="btn btn-primary" data-ng-if="showBecomeMemberBtn()" data-ng-click="becomeMember()">Стани член</button>
		<p class="textarea-show" data-ng-bind-html="project.description"></p>
	</div>
</div>