<ul class="col-md-12 nav nav-pills nav-justified margin-bottom-nav">			
	<li data-ng-show="isOwner" data-ng-class="{active: active == 'info'}">
		<a href="javascript:;" data-ng-click="activate('info')" data-toggle="modal" data-target="#info-modal">Информация</a>
	</li>
    <li data-ng-show="isOwner" data-ng-class="{active: active == 'candidates'}">
        <a href="javascript:;" data-ng-click="activate('candidates')" data-toggle="modal" data-target="#candidates-modal">Кандидати</a>
    </li>
    <li data-ng-show="isOwner" data-ng-class="{active: active == 'members'}">
        <a href="javascript:;" data-ng-click="activate('members')" data-toggle="modal" data-target="#members-modal">Членове</a>
    </li>
    <li data-ng-show="isOwner" data-ng-class="{active: active == 'positions'}">
        <a href="javascript:;" data-ng-click="activate('positions')" data-toggle="modal" data-target="#positions-modal">Позиции</a>
    </li>
    <li data-ng-show="isOwner || isMember" data-ng-class="{active: active == 'resources'}">
        <a href="javascript:;" data-ng-click="activate('resources')" data-toggle="modal" data-target="#resources-modal">Ресурси</a>
    </li>
</ul>