<div data-ng-controller="ShowUserInfoController" data-ng-init="loadInfo()">
	<div data-ng-hide="loading">
		<div class="row" data-ng-class="{'bottom-border': width <=748 }">
			<div data-ng-class="{'right-border text-right': width > 748}" class="col-sm-6">
				<h3>Име</h3>
			</div>
			<div class="col-sm-6">
				<h3>{{info.firstName}}</h3>
			</div>
		</div>
		<div class="row" data-ng-class="{'bottom-border': width <=748 }">
			<div data-ng-class="{'right-border text-right': width > 748}" class="col-sm-6">
				<h3>Фамилия</h3>
			</div>
			<div class="col-sm-6">
				<h3>{{info.lastName}}</h3>
			</div>
		</div>
		<div class="row" data-ng-class="{'bottom-border': width <=748 }">
			<div data-ng-class="{'right-border text-right': width > 748}" class="col-sm-6">
				<h3>Пол</h3>
			</div>
			<div class="col-sm-6">
				<h3><span data-ng-show="info.gender === 'male'">Мъж</span><span data-ng-show="info.gender === 'female'">Жена</span></h3>
			</div>
		</div>
		<div class="row" data-ng-class="{'bottom-border': width <=748 }">
			<div data-ng-class="{'right-border text-right': width > 748}" class="col-sm-6">
				<h3>Рождена дата</h3>
			</div>
			<div class="col-sm-6">
				<h3>{{info.birthdate}}</h3>
			</div>
		</div>
		<div class="row" data-ng-class="{'bottom-border': width <=748 }">
			<div data-ng-class="{'right-border text-right': width > 748}" class="col-sm-6">
				<h3>Уебсайт</h3>
			</div>
			<div class="col-sm-6">
				<h3><a href="{{info.website}}" target="_blank">{{info.website}}</a></h3>
			</div>
		</div>
	</div>
	<div data-ng-show="loading" data-loader></div>
</div>