<div data-ng-controller="ShowUserEducationController" data-ng-init="loadEducation()">
	<div data-ng-hide="loading">
		<div class="row" data-ng-repeat="e in education">
			<div class="well well-lg bottom-border text-center">
				<h2>{{e.school}}</h2>	
				<p>{{e.speciality}}</p>
				<p>{{e.startYear}} - {{e.endYear}}</p>		
			</div>
		</div>
	</div>
	<div data-ng-show="loading" data-loader></div>
</div>