<section data-ng-controller="ShowUserController" data-ng-init="init()">
	<div data-ng-hide="loading" class="panel panel-default">
		<div class="panel-heading">
			<div data-ng-include="'/modules/users/views/show-user/show-user-header.client.view.html'"></div>
		</div>
		<div class="panel-body">
			<ul class="nav nav-pills nav-justified margin-bottom-nav">							
				<li data-ng-class="{active: active === 'info'}">
					<a href="{{mainPath + '/info'}}">Лична информация</a>
				</li>							
				<li data-ng-class="{active: active == 'projects'}">
					<a href="{{mainPath + '/projects'}}">Проекти</a>
				</li>							
				<li data-ng-class="{active: active == 'skills'}">
					<a href="{{mainPath + '/skills'}}">Умения</a>
				</li>
				<li data-ng-class="{active: active == 'education'}">
					<a href="{{mainPath + '/education'}}">Образование</a>
				</li>
				<li data-ng-class="{active: active == 'experience'}">
					<a href="{{mainPath + '/experience'}}">Стаж</a>
				</li>
			</ul>
			<div data-ui-view>				
			</div>	
		</div>
	</div>
	<div data-ng-show="loading" data-loader></div>
</section>