<div data-ng-controller="ShowUserSkillsController" data-ng-init="loadSkills()">
	<div data-ng-hide="loading" class="row">
		<div class="col-md-3" data-ng-repeat="skill in skills">
			<div class="well full-border">
				<h3 class="text-center">{{skill.name}}</h3>				
			</div>
		</div>
	</div>
	<div data-ng-show="loading" data-loader></div>
</div>