<div data-ng-controller="ShowUserExperienceController" data-ng-init="loadExperience()">
	<div data-ng-hide="loading">
		<div class="row" data-ng-repeat="e in experience">
			<div class="well well-lg bottom-border text-center">
				<h2>{{e.company}}</h2>	
				<p>{{e.position}}</p>
				<p>{{e.startYear}} - {{e.endYear}}</p>		
			</div>
		</div>
	</div>
	<div data-ng-show="loading" data-loader></div>
</div>