<div class="row">
	<div class="col-sm-4">
		<div data-ng-controller="ShowUserAvatarController">
			<div data-ng-hide="loading" class="text-center">				
				<img class="img-circle" data-ng-src="{{avatar}}" width="150" height="150" />
			</div>
			<div data-ng-show="loading" data-loader></div>
		</div>
	</div>
	<div class="col-sm-8">
		<div data-ng-controller="ShowUserInfoController" data-ng-init="loadInfo()">
			<div data-ng-hide="loading">				
				<h2>{{info.displayName}}</h2>
				<p class="textarea-show">{{info.about}}</p>
			</div>
			<div data-ng-show="loading" data-loader></div>
		</div>
	</div>
</div>
