<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Смени парола</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="currentPassword">Стара парола</label>
					<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Стара парола">
				</div>
				<div class="form-group">
					<label for="newPassword">Нова парола</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="Нова парола">
				</div>
				<div class="form-group">
					<label for="verifyPassword">Потвърди парола</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Потвърди парола">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Запази</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Паролата е сменена успешно</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>