<section class="row" data-ng-controller="SettingsController">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<div class="well">
				<div class="row">
					<h3 class="col-md-12 text-center">Редактирай профил</h3>
					<ul class="col-md-12 nav nav-pills nav-justified margin-bottom-nav">
						<li data-ng-class="{active: active == 'main'}">
							<a href="javascript:;" data-ng-click="activate('main')">Основна информация</a>
						</li>
						<li data-ng-class="{active: active == 'personal'}">
							<a href="javascript:;" data-ng-click="activate('personal')">Лична информация</a>
						</li>
						<li data-ng-class="{active: active == 'education'}">
							<a href="javascript:;" data-ng-click="activate('education')">Образование</a>
						</li>
						<li data-ng-class="{active: active == 'workExperience'}">
							<a href="javascript:;" data-ng-click="activate('workExperience')">Стаж</a>
						</li>
					</ul>
					<div class="col-sm-8 col-sm-offset-2">
						<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off" novalidate>
							<fieldset>							
								<div data-ng-show="success" class="alert alert-success">
									<strong>Профила е запазен</strong>
								</div>
								<div data-ng-show="error" class="alert alert-danger">
									<strong data-ng-bind="error"></strong>
								</div>
								<div data-ng-show="active=='main'">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="glyphicon glyphicon-star"></i>
											</span>
											<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="Име">
										</div>									
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="glyphicon glyphicon-star"></i>
											</span>
											<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Фамилия">
										</div>									
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="glyphicon glyphicon-envelope"></i>
											</span>
											<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
										</div>									
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="glyphicon glyphicon-user"></i>
											</span>
											<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Потребителско име">
										</div>									
									</div>
									<div>										
			            			<div class="form-group">
			            				<label>Аватар</label>             
			                            <input type="file" data-nv-file-select uploader="uploader" name="image"/>          
			                            <button type="button" class="btn btn-primary" data-ng-click="uploadAvatar()">Качи</button>
			                        </div>
									</div>
								</div>
								<div data-ng-show="active=='personal'">
									<div class="form-group">
										<label>За мен: </label>
										<textarea type="text" id="about" name="about" class="form-control" data-ng-model="user.about" placeholder="About"></textarea>								
									</div>
									<div class="form-group">
										<label>Пол: </label>
										<select class="form-control" data-ng-model="user.gender">
											<option></option>
											<option value="male">Мъж</option>
											<option value="female">Жена</option>
										</select>									
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="glyphicon glyphicon-envelope"></i>
											</span>
											<input type="text" id="website" name="website" class="form-control" data-ng-model="user.website" placeholder="Уебсайт">
										</div>									
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon btn btn-primary">
												<i class="glyphicon glyphicon-calendar"></i>
											</span>
											<input class="form-control" ng-model="user.birthdate" id="birthdate" placeholder="Дата на раждане" />
										</div>								
									</div>
								</div>
								<div data-ng-show="active=='education'">
									<ul class="list-unstyled">
										<li data-ng-repeat="education in user.education">
											<div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-calendar"></i>
														</span>
														<input type="text" id="school" name="school" class="form-control" data-ng-model="education.school" placeholder="Училище/Университет/Колеж">
													</div>									
												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-calendar"></i>
														</span>
														<input type="text" id="from" name="from" class="form-control" data-ng-model="education.from" placeholder="Начална година">
													</div>									
												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-calendar"></i>
														</span>
														<input type="text" id="to" name="to" class="form-control" data-ng-model="education.to" placeholder="Година на завършване">
													</div>									
												</div>
												<div class="form-group text-center">
													<button type="button" class="btn btn-primary" data-ng-click="removeEducation(education)">Изтрий</button>		
												</div>
											</div>
											<hr />
										</li>
									</ul>
									<div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-calendar"></i>
												</span>
												<input type="text" id="school" name="school" class="form-control" data-ng-model="newEducation.school" placeholder="Училище/Университет/Колеж">
											</div>									
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-calendar"></i>
												</span>
												<input type="text" id="from" name="from" class="form-control" data-ng-model="newEducation.from" placeholder="Начална година">
											</div>									
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-calendar"></i>
												</span>
												<input type="text" id="to" name="to" class="form-control" data-ng-model="newEducation.to" placeholder="Година на завършване">
											</div>									
										</div>
										<div class="text-center form-group">
											<button type="button" class="btn btn-primary" data-ng-click="addEducation()">Добави</button>
										</div>
									</div>
								</div>
								<div data-ng-show="active=='workExperience'">
									<ul class="list-unstyled">
										<li data-ng-repeat="experience in user.experience">
											<div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-calendar"></i>
														</span>
														<input type="text" id="company" name="company" class="form-control" data-ng-model="experience.company" placeholder="Компания">
													</div>									
												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-calendar"></i>
														</span>
														<input type="text" id="from" name="from" class="form-control" data-ng-model="experience.from" placeholder="Начална година">
													</div>									
												</div>
												<div class="form-group">
													<div class="input-group">
														<span class="input-group-addon">
															<i class="glyphicon glyphicon-calendar"></i>
														</span>
														<input type="text" id="to" name="to" class="form-control" data-ng-model="experience.to" placeholder="Година на напускане">
													</div>									
												</div>
												<div class="form-group text-center">
													<button type="button" class="btn btn-primary" data-ng-click="removeExperience(experience)">Изтрий</button>		
												</div>
											</div>
											<hr />
										</li>
									</ul>
									<div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-calendar"></i>
												</span>
												<input type="text" id="company" name="company" class="form-control" data-ng-model="newExperience.company" placeholder="Компания">
											</div>									
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-calendar"></i>
												</span>
												<input type="text" id="from" name="from" class="form-control" data-ng-model="newExperience.from" placeholder="Начална година">
											</div>									
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-calendar"></i>
												</span>
												<input type="text" id="to" name="to" class="form-control" data-ng-model="newExperience.to" placeholder="Година на напускане">
											</div>									
										</div>
										<div class="text-center form-group">
											<button type="button" class="btn btn-primary" data-ng-click="addExperience()">Добави</button>
										</div>
									</div>
								</div>
								<div class="text-center form-group">
									<button type="submit" class="btn btn-primary btn-block">Запази</button>
								</div>
							</fieldset>
						</form>
					</div>				
				</div>
			</div>
		</div>
	</div>	
</section>