<section class="row" data-ng-controller="ChangePasswordController">
	<div class="col-sm-4 col-sm-offset-4">
		<div data-ng-show="errorMessage" class="alert alert-danger">
			{{errorMessage}}
		</div>
		<div data-ng-show="successMessage" class="alert alert-success">
			{{successMessage}}
		</div>
		<div class="well well-lg">
			<div class="form-group">
				<label for="currentPassword">Стара парола</label>
				<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Стара парола">
			</div>
			<div class="form-group">
				<label for="newPassword">Нова парола</label>
				<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="Нова парола">
			</div>
			<div class="form-group">
				<label for="verifyPassword">Потвърди парола</label>
				<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Потвърди парола">
			</div>
			<div class="text-center form-group">
				<button type="button" class="btn btn-large btn-primary" data-ng-click="changePassword()">Запази</button>
			</div>
		</div>
	</div>
</section>