<section data-ng-controller="ExperienceController" data-ng-init="loadExperience()">
	<div data-ng-hide="loading">
		<div data-ng-show="errorMessage" class="alert alert-danger">
			{{errorMessage}}
		</div>
		<div class="row">			
			<div class="col-md-4" data-ng-repeat="e in experience">
				<div class="well well-lg">
					<div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="company" name="company" class="form-control" data-ng-model="e.company" placeholder="Компания">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="from" name="from" class="form-control" data-ng-model="e.startYear" placeholder="Начална година">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="to" name="to" class="form-control" data-ng-model="e.endYear" placeholder="Година на завършване">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="position" name="position" class="form-control" data-ng-model="e.position" placeholder="Позиция">
							</div>									
						</div>
						<div class="form-group text-center">
							<button type="button" class="btn btn-primary" data-ng-click="editExperience(e)">Редактирай</button>
							<button type="button" class="btn btn-danger" data-ng-click="removeExperience(e)">Изтрий</button>		
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="well well-lg">
					<div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="company" name="company" class="form-control" data-ng-model="newExperience.company" placeholder="Компания">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="from" name="from" class="form-control" data-ng-model="newExperience.startYear" placeholder="Начална година">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="to" name="to" class="form-control" data-ng-model="newExperience.endYear" placeholder="Година на завършване">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="position" name="position" class="form-control" data-ng-model="newExperience.position" placeholder="Позиция">
							</div>									
						</div>
						<div class="form-group text-center">
							<button type="button" class="btn btn-primary" data-ng-click="addExperience()">Добави</button>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-show="loading" data-loader>		
	</div>
</section>