<section data-ng-controller="InfoController" data-ng-init="loadInfo()">
	<div data-ng-hide="loading">
		<div data-ng-show="errorMessage" class="alert alert-danger">
			{{errorMessage}}
		</div>
		<div data-ng-show="successMessage" class="alert alert-success">
			{{successMessage}}
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="well well-lg info">
					<div class="form-group">	
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-star"></i>
							</span>
							<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="info.firstName" placeholder="Име">
						</div>									
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-star"></i>
							</span>
							<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="info.lastName" placeholder="Фамилия">
						</div>									
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-envelope"></i>
							</span>
							<input type="email" id="email" name="email" class="form-control" data-ng-model="info.email" placeholder="Email">
						</div>									
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-user"></i>
							</span>
							<input type="text" id="infoname" name="infoname" class="form-control" data-ng-model="info.username" placeholder="Потребителско име">
						</div>									
					</div>
				</div>				
			</div>
			<div class="col-sm-6">
				<div class="well well-lg info">
					<div class="form-group">
						<label>За мен: </label>
						<textarea type="text" id="about" name="about" class="form-control" data-ng-model="info.about" placeholder="За мен"></textarea>								
					</div>
					<div class="form-group">
						<label>Пол: </label>
						<select class="form-control" data-ng-model="info.gender">
							<option></option>
							<option value="male">Мъж</option>
							<option value="female">Жена</option>
						</select>									
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-envelope"></i>
							</span>
							<input type="text" id="website" name="website" class="form-control" data-ng-model="info.website" placeholder="Уебсайт">
						</div>									
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon btn btn-primary">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
							<input class="form-control" ng-model="info.birthdate" id="birthdate" placeholder="Дата на раждане" />
						</div>								
					</div>
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center">
				<div class="well well-sm">					
					<button type="button" class="btn btn-lg btn-primary" data-ng-click="updateInfo()">Запази</button>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-show="loading" data-loader>		
	</div>
</section>