<section data-ng-controller="AvatarController" data-ng-init="loadAvatar()">
	<div data-ng-hide="loading">
		<div data-ng-show="errorMessage" class="alert alert-danger">
			{{errorMessage}}
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="well well-lg">					
					<div class="form-group">
	    				<h3>Качи аватар</h3>             
	                    <input type="file" data-nv-file-select uploader="avatarUploader" name="avatar"/>          
	                    <button type="button" class="btn btn-primary" data-ng-click="uploadAvatar()">Качи</button>
	                </div>
	                <div class="form-group">
	    				<h3>Смени аватар</h3>             
	                    <input type="text" name="link" id="link" data-ng-model="link" placeholder="Линк"/>        
	                    <button type="button" class="btn btn-primary" data-ng-click="changeAvatarLink()">Смени</button>
	                </div>
				</div>
			</div>
			<div class="col-sm-6">
				<img data-ng-src="{{avatar}}" width="150" height"150" />
			</div>
		</div>
	</div>
	<div data-ng-show="loading" data-loader>		
	</div>
</section>