<section data-ng-controller="EducationController" data-ng-init="loadEducation()">
	<div data-ng-hide="loading">
		<div data-ng-show="errorMessage" class="alert alert-danger">
			{{errorMessage}}
		</div>
		<div class="row">			
			<div class="col-md-4" data-ng-repeat="e in education">
				<div class="well well-lg">
					<div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="school" name="school" class="form-control" data-ng-model="e.school" placeholder="Училище/Университет/Колеж">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="from" name="from" class="form-control" data-ng-model="e.startYear" placeholder="Начална година">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="to" name="to" class="form-control" data-ng-model="e.endYear" placeholder="Година на завършване">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="speciality" name="speciality" class="form-control" data-ng-model="e.speciality" placeholder="Специалност">
							</div>									
						</div>
						<div class="form-group text-center">
							<button type="button" class="btn btn-primary" data-ng-click="editEducation(e)">Редактирай</button>
							<button type="button" class="btn btn-danger" data-ng-click="removeEducation(e)">Изтрий</button>		
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="well well-lg">
					<div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="school" name="school" class="form-control" data-ng-model="newEducation.school" placeholder="Училище/Университет/Колеж">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="from" name="from" class="form-control" data-ng-model="newEducation.startYear" placeholder="Начална година">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="to" name="to" class="form-control" data-ng-model="newEducation.endYear" placeholder="Година на завършване">
							</div>									
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="glyphicon glyphicon-calendar"></i>
								</span>
								<input type="text" id="speciality" name="speciality" class="form-control" data-ng-model="newEducation.speciality" placeholder="Специалност">
							</div>									
						</div>
						<div class="form-group text-center">
							<button type="button" class="btn btn-primary" data-ng-click="addEducation()">Добави</button>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-show="loading" data-loader>		
	</div>
</section>