<section data-ng-controller="SkillsController" data-ng-init="loadSkills()">
	<div data-ng-hide="loading">
		<div data-ng-show="errorMessage" class="alert alert-danger">
			{{errorMessage}}
		</div>
		<div class="row">			
			<div class="col-md-3" data-ng-repeat="skill in skills">
				<div class="well skill">
					<h3 class="text-center">{{skill.name}}</h3>					
					<div class="text-center">
						<button type="button" class="btn btn-danger" data-ng-click="removeSkill(skill)">Изтрий</button>	
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="well skill">				
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
							<input type="text" id="name" name="name" class="form-control" data-ng-model="newSkill.name" placeholder="Име">
						</div>									
					</div>
					<div class="form-group text-center">
						<button type="button" class="btn btn-primary" data-ng-click="addSkill()">Добави</button>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-show="loading" data-loader>		
	</div>
</section>