<section data-ng-controller="UserShowController">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading" data-ng-hide="loadingUser">
					<div class="row">
						<div class="col-sm-4 text-center">
					    	<img data-ng-if="user.avatar.url" class="img-circle" width="150" height="150" data-ng-src="{{user.avatar.url}}" alt="Avatar">
						</div>
						<div class="col-sm-8">
							<h3>{{user.displayName}}</h3>
							<p class="textarea-show" data-ng-bind-html="user.about"></p>
						</div>
					</div>
				</div>
				<div class="panel-body" data-ng-hide="loadingUser">
					<ul class="col-md-12 nav nav-pills nav-justified margin-bottom-nav">							
						<li data-ng-class="{active: active == 'personal'}">
							<a href="javascript:;" data-ng-click="activate('personal')">Лична информация</a>
						</li>							
						<li data-ng-class="{active: active == 'projects'}">
							<a href="javascript:;" data-ng-click="activate('projects')">Проекти</a>
						</li>							
						<li data-ng-class="{active: active == 'skills'}">
							<a href="javascript:;" data-ng-click="activate('skills')">Умения</a>
						</li>
						<li data-ng-class="{active: active == 'education'}">
							<a href="javascript:;" data-ng-click="activate('education')">Образование</a>
						</li>
						<li data-ng-class="{active: active == 'workExperience'}">
							<a href="javascript:;" data-ng-click="activate('workExperience')">Стаж</a>
						</li>
					</ul>
					<div data-ng-show="active == 'personal'">
						<div class="row" data-ng-class="{'bottom-border': width <=748 }">
							<div data-ng-class="{'right-border text-right': width > 748}" class="col-sm-6">
								<h3>Име</h3>
							</div>
							<div class="col-sm-6">
								<h3>{{user.firstName}}</h3>
							</div>
						</div>
						<div class="row" data-ng-class="{'bottom-border': width <=748 }">
							<div data-ng-class="{'right-border text-right': width > 748}" class="col-sm-6">
								<h3>Фамилия</h3>
							</div>
							<div class="col-sm-6">
								<h3>{{user.lastName}}</h3>
							</div>
						</div>
						<div class="row" data-ng-class="{'bottom-border': width <=748 }">
							<div data-ng-class="{'right-border text-right': width > 748}" class="col-sm-6">
								<h3>Пол</h3>
							</div>
							<div class="col-sm-6">
								<h3><span data-ng-show="user.gender === 'male'">Мъж</span><span data-ng-show="user.gender === 'female'">Жена</span></h3>
							</div>
						</div>
						<div class="row" data-ng-class="{'bottom-border': width <=748 }">
							<div data-ng-class="{'right-border text-right': width > 748}" class="col-sm-6">
								<h3>Рождена дата</h3>
							</div>
							<div class="col-sm-6">
								<h3>{{user.birthdate}}</h3>
							</div>
						</div>
						<div class="row" data-ng-class="{'bottom-border': width <=748 }">
							<div data-ng-class="{'right-border text-right': width > 748}" class="col-sm-6">
								<h3>Уебсайт</h3>
							</div>
							<div class="col-sm-6">
								<h3><a href="{{user.website}}">{{user.website}}</a></h3>
							</div>
						</div>
					</div>
					<div data-ng-show="active == 'education'">
						<ul class="list-unstyled">
							<li class="bottom-border" data-ng-repeat="education in user.education | orderBy:'from':true">
								<div>
									<h3>{{education.school}}</h3>
									<span>{{education.from}}</span>
									-
									<span>{{education.to}}</span>
								</div>
							</li>
						</ul>
					</div>
					<div data-ng-show="active == 'workExperience'">
						<ul class="list-unstyled">
							<li class="bottom-border" data-ng-repeat="experience in user.experience | orderBy:'from':true">
								<div>
									<h3>{{experience.company}}</h3>
									<span>{{experience.from}}</span>
									-
									<span>{{experience.to}}</span>
								</div>
							</li>
						</ul>
					</div>
					<div data-ng-show="active == 'skills'">
						<ul class="list-unstyled row">
							<li class="bottom-border col-md-3" data-ng-repeat="skill in user.skills">
								<div style="height: 100px;">
									<h3>{{skill.name}}</h3>
								</div>
							</li>
						</ul>
					</div>
					<div data-ng-show="active == 'projects'">
						<div class="row">
							<div class="col-sm-6">
								<h2 class="bottom-border">Притежател</h2>
								<ul class="list-unstyled">
									<li data-ng-repeat="project in getOwnerOf(owner.page)">
										<h3><a href="/#!/projects/{{project.urlName}}">{{project.name}}</a></h3>
									</li>
								</ul>								
			                    <ul class="pager">
			                        <li data-ng-hide="owner.page === 1" ><a href="javascript:;"data-ng-click="changeOwnerPage(owner.page-1)">&larr;Предишна</a></li>
			                        <li data-ng-hide="owner.page === owner.pageCount"><a href="javascript:;" data-ng-click="changeOwnerPage(owner.page+1)">Следваща&rarr;</a></li>
			                    </ul>
							</div>
							<div class="col-sm-6">
								<h2 class="bottom-border">Член</h2>
								<ul class="list-unstyled">
									<li data-ng-repeat="project in getMemberOf(member.page)">
										<h3><a href="/#!/projects/{{project.urlName}}">{{project.name}}</a></h3>
									</li>
								</ul>
								<ul class="pager">
		                            <li data-ng-hide="member.page === 1" ><a href="javascript:;"data-ng-click="changeMemberPage(member.page-1)">&larr;Предишна</a></li>
		                            <li data-ng-hide="member.page === member.pageCount"><a href="javascript:;" data-ng-click="changeMemberPage(member.page+1)">Следваща&rarr;</a></li>
		                        </ul>
							</div>
						</div>
					</div>
				</div>
				<div data-ng-show="loadingUser" loader>					
				</div>
			</div>
		</div>
	</div>
</section>