<section data-ng-controller="CreateProjectController">
    <div class="alert alert-danger" data-ng-show="errorMessage">
        {{errorMessage}}
    </div>
    <div class="well well-lg">
        <div class="form-group">
            <div class="controls">
                <input type="text" data-ng-model="project.name" id="name" class="form-control" placeholder="Име" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="description">Описание</label>
            <div class="controls">
                <textarea type="text" data-ng-model="project.description" id="description" class="form-control" placeholder="Описание" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <select class="form-control" data-ng-model="project.public">
                    <option selected="selected" value="true">Публичен</option>
                    <option value="false">Частен</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <label>Type</label>
                <select class="form-control" data-ng-model="project.type">
                    <option selected="selected" value="web">Web</option>
                    <option value="mobile">Mobile</option>
                    <option value="desktop">Desktop</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" data-ng-click="create()">Create</button>
        </div>
    </div>    
</section>
