<section data-ng-controller="ProjectsController" data-ng-init="loadProjects()">
    {{user}}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
            <div class="well">
                <div>
                    <a href="javascript:;" data-toggle="modal" data-target="#create-project-modal">Създай нов проект</a>
                </div>
                <div class="row" data-ng-hide="loadingProjects">
                    <div class="col-sm-3">
                        <h2 class="bottom-border">Притежател</h2>
                        <ul class="list-unstyled">
                            <li data-ng-repeat="project in getOwnerOf(owner.page)">
                                <div>
                                    <a href="/#!/projects/{{project.urlName}}">
                                        <h3>
                                            {{project.name}}
                                        </h3>
                                    </a>
                                    <button type="button" class="btn btn-sm btn-danger" data-ng-click="remove(project)">Изтрий</button>
                                </div>
                            </li>
                        </ul>
                        <ul class="pager">
                            <li data-ng-hide="owner.page === 1" ><a href="javascript:;"data-ng-click="changeOwnerPage(owner.page-1)">&larr;Предишна</a></li>
                            <li data-ng-hide="owner.page === owner.pageCount"><a href="javascript:;" data-ng-click="changeOwnerPage(owner.page+1)">Следваща&rarr;</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="bottom-border">Член</h2>
                        <ul class="list-unstyled">
                            <li data-ng-repeat="project in getMemberOf(member.page)">
                                <div>
                                    <a href="/#!/projects/{{project.urlName}}">
                                        <h3>
                                            {{project.name}}
                                        </h3>
                                    </a>
                                    <button type="button" class="btn btn-sm btn-danger" data-ng-click="leave(project)">Напусни</button>
                                </div>
                            </li>
                        </ul>                        
                        <ul class="pager">
                            <li data-ng-hide="member.page === 1" ><a href="javascript:;"data-ng-click="changeMemberPage(member.page-1)">&larr;Предишна</a></li>
                            <li data-ng-hide="member.page === member.pageCount"><a href="javascript:;" data-ng-click="changeMemberPage(member.page+1)">Следваща&rarr;</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="bottom-border">Кандидат</h2>
                        <ul class="list-unstyled">
                            <li data-ng-repeat="project in getCandidateFor(candidate.page)">
                                <div>
                                    <a href="/#!/projects/{{project.urlName}}">
                                        <h3>
                                            {{project.name}}
                                        </h3>
                                    </a>
                                    <button type="button" class="btn btn-sm btn-danger" data-ng-click="cancelCandidature(project)">Отмени</button>
                                </div>
                            </li>
                        </ul>                        
                        <ul class="pager">
                            <li data-ng-hide="candidate.page === 1" ><a href="javascript:;"data-ng-click="changeCandidatePage(candidate.page-1)">&larr;Предишна</a></li>
                            <li data-ng-hide="candidate.page === candidate.pageCount"><a href="javascript:;" data-ng-click="changeCandidatePage(candidate.page+1)">Следваща&rarr;</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h2 class="bottom-border">Покани</h2>
                        <ul class="list-unstyled">
                            <li data-ng-repeat="project in getInvitations(invitation.page)">
                                <div>
                                    <a href="/#!/projects/{{project.urlName}}">
                                        <h3>
                                            {{project.name}}
                                        </h3>
                                    </a>
                                    <button type="button" class="btn btn-sm btn-danger" data-ng-click="acceptInvitation(project)">Приеми</button>
                                    <button type="button" class="btn btn-sm btn-danger" data-ng-click="declineInvitation(project)">Откажи</button>
                                </div>
                            </li>
                        </ul>                        
                        <ul class="pager">
                            <li data-ng-hide="invitation.page === 1" ><a href="javascript:;"data-ng-click="changeInvitationPage(invitation.page-1)">&larr;Предишна</a></li>
                            <li data-ng-hide="invitation.page === invitation.pageCount"><a href="javascript:;" data-ng-click="changeInvitationPage(invitation.page+1)">Следваща&rarr;</a></li>
                        </ul>
                    </div>
                </div>
                <div data-ng-show="loadingProjects" loader></div>
            </div>
        </div>
    </div>
    <div class="modal fade" tab-index="-1" id="create-project-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">Създай проект</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <div class="controls">
                                    <input type="text" data-ng-model="newProject.name" id="name" class="form-control" placeholder="Име" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="description">Описание</label>
                                <div class="controls">
                                    <textarea type="text" data-ng-model="newProject.description" id="description" class="form-control" placeholder="Описание" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Type</label>
                                    <select class="form-control" data-ng-model="newProject.type">
                                        <option selected="selected" value="public">Публичен</option>
                                        <option value="private">Частен</option>
                                    </select>
                                </div>
                            </div>
                            <div data-ng-show="error" class="text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
                    <button type="button" class="btn btn-primary" data-ng-click="create()" data-dismiss="modal">Създай</button>
                </div>
            </div>
        </div>
    </div>
</section>
