<div class="row">
	<div class="col-sm-12">
		<div class="well text-center">
			<a class="btn btn-lg btn-primary" href="/#!/projects/create">Create new project</a>
		</div>
	</div>
</div>
<section class="row">
	<div class="col-sm-3" data-ng-controller="ProjectsOwnerController" data-ng-init="init()">
		<div class="well">
			<h2 class="text-center">Owner</h2>
			<ul class="list-unstyled" data-ng-hide="loading"> 
				<li data-ng-repeat="project in projects">
					<div class="text-center">
						<h3><a href="/#!/projects/{{project.urlName}}">{{project.name}}</a></h3>
						<a class="btn btn-primary" href="/#!/projects/{{project._id}}/control-panel">Control panel</a>
						<button type="button" class="btn btn-danger" data-ng-click="deleteProject(project)">Delete</button>
					</div>
				</li>
			</ul>
			<div data-ng-show="loading" data-loader></div>
		</div>
	</div>
	<div class="col-sm-3" data-ng-controller="ProjectsOwnerController" data-ng-init="init()">
		<div class="well">
			<h2 class="text-center">Owner</h2>
			<ul class="list-unstyled"> 
				<li data-ng-repeat="project in projects">
					<div class="text-center">
						<h3><a href="/#!/projects/{{project.urlName}}">{{project.name}}</a></h3>
						<a class="btn btn-primary" href="/#!/projects/{{project._id}}/control-panel">Control panel</a>
						<button type="button" class="btn btn-danger" data-ng-click="deleteProject(project)">Delete</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-3" data-ng-controller="ProjectsOwnerController" data-ng-init="init()">
		<div class="well">
			<h2 class="text-center">Owner</h2>
			<ul class="list-unstyled"> 
				<li data-ng-repeat="project in projects">
					<div class="text-center">
						<h3><a href="/#!/projects/{{project.urlName}}">{{project.name}}</a></h3>
						<a class="btn btn-primary" href="/#!/projects/{{project._id}}/control-panel">Control panel</a>
						<button type="button" class="btn btn-danger" data-ng-click="deleteProject(project)">Delete</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-3" data-ng-controller="ProjectsOwnerController" data-ng-init="init()">
		<div class="well">
			<h2 class="text-center">Owner</h2>
			<ul class="list-unstyled"> 
				<li data-ng-repeat="project in projects">
					<div class="text-center">
						<h3><a href="/#!/projects/{{project.urlName}}">{{project.name}}</a></h3>
						<a class="btn btn-primary" href="/#!/projects/{{project._id}}/control-panel">Control panel</a>
						<button type="button" class="btn btn-danger" data-ng-click="deleteProject(project)">Delete</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>