<section data-ng-controller="ProjectsController" data-ng-init="loadProject()">
	<div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
            <div class="panel panel-default">
            	<div class="panel-heading" data-ng-hide="loadingProject">
            		<div data-ng-include="'/modules/projects/views/view-project/heading.client.view.html'"></div>
            	</div>
            	<div class="panel-body" data-ng-hide="loadingProject">
            		<div data-ng-include="'/modules/projects/views/view-project/menu.client.view.html'"></div>
                    <div data-ng-if="project.type === 'public' || isOwner || isMember" class="col-sm-4">
                        <h2 class="bottom-border">Членове</h2>
                        <ul class="list-unstyled">
                            <li>
                                <h3><a href="/#!/user/{{project.user.username}}">{{project.user.displayName}}</a> (Притежател)</h3>
                            </li>
                            <li data-ng-repeat="member in project.members">
                                <h3><a href="/#!/user/{{member.username}}">{{member.displayName}}</a></h3>
                            </li>
                        </ul>
                    </div>
                    <div data-ng-if="project.type === 'public' || isOwner || isMember" class="col-sm-4">
                        <h2 class="bottom-border">Изображения</h2>
                        <ul class="list-unstyled">
                            <li data-ng-repeat="image in project.images">
                                <h3><a href="{{image.url}}"><img width="150" height="150" data-ng-src="{{image.url}}" /></a></h3>
                            </li>
                        </ul>
                    </div>
                    <div data-ng-if="project.type === 'public' || isOwner || isMember" class="col-sm-4">
                        <h2 class="bottom-border">Линкове</h2>
                        <ul class="list-unstyled">
                            <li data-ng-repeat="link in project.links">
                                <h3><a href="{{link.url}}">{{link.title}}</a></h3>
                            </li>
                        </ul>
                    </div>
            	</div>
                <div data-ng-show="loadingProject" loader></div>
            </div>
        </div>
    </div>
    <div class="modal fade" tab-index="-1" id="info-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">Редактирай информация</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label" for="name">Име</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="project.name" id="name" class="form-control" placeholder="Име" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="description">Описание</label>
                                <div class="controls">
                                    <textarea type="text" data-ng-model="project.description" id="description" class="form-control" placeholder="Описание" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Тип</label>
                                    <select class="form-control" data-ng-model="project.type">
                                        <option selected value="public">Публичен</option>
                                        <option value="private">Частен</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Аватар</label>             
                                <input type="file" data-nv-file-select uploader="avatarUploader" name="image"/>          
                                <button type="button" class="btn btn-primary" data-ng-click="uploadAvatar()">Качи</button>
                            </div>
                            <div data-ng-show="error" class="text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
                    <button type="button" class="btn btn-primary" data-ng-click="update()" data-dismiss="modal">Редактирай</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tab-index="-1" id="candidates-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">Кандидати</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled">
                        <li data-ng-repeat="candidate in project.candidates">
                           <h3>{{candidate.username}}</h3>
                           <button type="button" class="btn btn-primary" data-ng-click="acceptCandidature(candidate)">Приеми</button>
                           <button type="button" class="btn btn-danger" data-ng-click="declineCandidature(candidate)">Откажи</button>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tab-index="-1" id="members-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">Членове</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled">
                        <li data-ng-repeat="member in project.members">
                           <h3>{{member.username}}</h3>
                           <button type="button" class="btn btn-sm btn-danger" data-ng-click="removeMember(member)">Премахни</button>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tab-index="-1" id="positions-modal" data-ng-include="'/modules/projects/views/view-project/positions.client.view.html'">        
    </div>
    <div class="modal fade" tab-index="-1" id="resources-modal" data-ng-include="'/modules/projects/views/view-project/resources.client.view.html'">        
    </div>
</section>
